
<div class="top-section">
    <img src="~/logo/14.png" style="position: relative; width:100%;" alt="logo">

    <div class="container">
        <nav class="navbar navbar-default">

            <div class="container-fluid">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <i class="fa fa-bars"></i>
                        <i class="fa fa-times"></i>
                    </button>
                    <button type="button" class="navbar-toggle collapsed top_orderbtn" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><a class="online-order" href="order.html" target="_blank">Order Online</a></button>

                    <a class="navbar-brand" style="margin-top: 10px !important; height:74px !important; border-radius:0px 0px !important;" href="index.htm"><img src="~/logo/13.JPG"> </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav main-nav navbar-right">

                        <li><a class="branches" href="/Branch">Branches</a></li>
                        <li class="dropdown">
                            <a class="aboutus dropdown-toggle menu" href="#">About Us</a>
                            <ul class="dropdown-menu">
                                <li><a href="/Home/About" title="Hakkımızda">About Us</a></li>
                                <li><a href="/Home/Fanchising" title="Franchising Başvurusu">Franchising</a></li>
                                <li><a href="/Home/HumanResources" title="İnsan Kaynakları">Careers</a></li>
                            </ul>
                        </li>

                        <li><a href="/Categories" class="menu">Products</a></li>


                        <li><a class="contact no-border" href="/Home/ContactUs">Contact Us</a></li>
                        <li><a class="online-order" href="/son.html" target="_blank">Order Online</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>