<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ClosedBurger</title>
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/fonts/fa/css/font-awesome.min-1.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/lib/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="~/assets/lib/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="~/assets/lib/fancybox/jquery.fancybox-1.3.4.css">
    <link rel="stylesheet" type="text/css" href="~/assets/fonts/ri/css/fontello.css">
    <link href="~/assets/css/sweetalert.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/templates/website/tema-1/assets/css/style.css?v=1713373471">
    <link href="~/customCss?v=1713373471" rel="stylesheet">
    <link href="~/css.css" rel="stylesheet">
    <link href="~/css-1.css" rel="stylesheet">
</head>
<body>
    <div class="loader-div loading">
        <div class="flexDiv">
            <div class="loader-element"></div>
        </div>
    </div>
    <div class="big-screen">
        @await Component.InvokeAsync("NavbarMenu")
        @RenderBody()

        @await Component.InvokeAsync("Footer")
    </div>
    <div id="dish-modal-container"></div>
    <script src="~/assets/js/jquery.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/lib/slick/slick.min.js"></script>
    <script src="~/assets/lib/fancybox/jquery.fancybox-1.3.4.js"></script>
    <script src="~/assets/js/moment.min.js"></script>
    <script src="~/assets/js/sweetalert.min.js"></script>
    <script src="~/templates/website/tema-1/assets/js/main.js?v=1713373471"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
