<div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12 product-item new-version">
    <div class="crea-zoom">
        <div class="flex-el product-item-div small-banner-6" style="background: url('grilledBurger.gif') center center no-repeat; background-size: cover; ">
            <div class="inner-div">

                <!--<div class="col-md-6 col-sm-6 col-xs-12">
                    <p class="title"> ŞUBE ARA </p>
                    <p class="subtitle"> SİZE EN YAKIN ŞUBEYİ SEÇİNİZ </p>
                    <div class="form-group location-select">
                        <label class="sr-only"></label>

                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>