@{
    ViewData["Title"] = "Home Page";
}
<div class="page-content-section">
    <div class="overlay-bg"></div>
    <div class="container">
        @await Component.InvokeAsync("HomeSlider")
        @await Component.InvokeAsync("HomeSliderVideo")
        @await Component.InvokeAsync("HomeAboutUsCard")
        @await Component.InvokeAsync("HomeFranchisingCard")
        @await Component.InvokeAsync("HomeBranches")
        @await Component.InvokeAsync("HomeContactUsCard")
    </div>
</div>