@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/assets/css/select2.min-1.css" rel="stylesheet">
<link href="~/templates/webmenu/assets/css/bootstrap.min-1.css" rel="stylesheet">
<link href="~/assets/fonts/fa/css/font-awesome.min-1.css" rel="stylesheet">
<link href="~/assets/fonts/fa/css/font-awesome.min-1.css" rel="stylesheet">
<link href="~/templates/webmenu/assets/css/style-1.css?v=1713373475" rel="stylesheet">

<div class="branch-selection-wrapper" style="margin-top:50px">
    <div class="container">
        <div class="selection-inner">
            <div class="row">
                <div class="col-md-12 col-sm-6 col-xs-12" style="padding:10px">
                    <div class="city-select">
                        <div class="inner">
                            <h4> Please Select The Shop</h4>
                            <div class="btn-div">
                                <div class="btn-group sel-group">
                                    <select name="restaurant_branch_city" id="change_restaurant_branch_list_city" class="form-control make-it-select">
                                        <option selected="" value="34">New Jersey</option>
                                    </select>
                                    <div class="input-group-addon">
                                        <i class="fa fa-caret-down"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @* <div class="col-md-6 col-sm-6 col-xs-12">
                <div id="map" style="height: 260px; width: 100%;"></div>
                </div> *@
                <div class="clearfix"></div>
                <div class="branches-container">
                    <div class="row branch-row branch-list-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12 branch-item" data-res-id="441">
                            <h4 class="r_branch_name">
                                New Jersey <span class="region branch_restaurantregion">(New Jersey)</span>
                            </h4>
                            <p class="branch_restaurantadress">
                                Patterson New Jersey No: 28/2 Patterson /
                                New Jersey
                            </p>
                            <div class="branch_list order-types">
                            </div>
                            <a href="javascript:;" onclick="setRestaurant(441,'delivery');"></a>
                            <div style="float: inline-end;">

                                <button class="btn btn-primary"><a href="../son.html"></a>Order</button>
                                <button class="btn btn-success"><a href="../son.html"></a>Take Away</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
