<div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12 product-item t1_slider_area">
    <div class="crea-zoom main-slider">
        <div class="product-item-div big-banner" style="background: url('menuFoto/carousel1.jpeg') center center no-repeat; background-size: cover;">
            <div class="slider-flex flex-el center-v">
                <div class="innerDiv">
                    <p class="title">Medium Burger</p>
                    <p class="subtitle">For Real Burger</p>
                    <span class="btn btn-default"> Order Online </span>
                </div>
                <a href="product/menu/medium-burger.html"></a>
            </div>
        </div>
        <div class="product-item-div big-banner" style="background: url('menuFoto/carousel2.jpeg') center center no-repeat; background-size: cover;">
            <div class="slider-flex flex-el center-v">
                <div class="innerDiv">
                    <p class="title">Medium Burger</p>
                    <p class="subtitle">Best Burger</p>
                    <span class="btn btn-default"> Order Online </span>
                </div>
                <a href="product/menu/medium-burger.html"></a>
            </div>
        </div>
    </div>
</div>