<div class="col-md-3 col-sm-6 col-xs-12 col-xxs-12 product-item">
    <div class="crea-zoom">
        <div class="product-item-div small-banner-3 flex-el center-v center-h" style="background: url('menuFoto/aboutUs.jpg') center center no-repeat; background-size:cover;">
            <!-- <div class="innerDiv">
                <p class="title" style="font-size: xx-large;"> Franchising</p>
            </div> -->
            <a href="/franchising.html"></a>
        </div>
        <div class="innerDiv" style="display:flex; justify-content: center; margin-top:10px;">
            <p class="title" style="font-weight:bolder; font-size: xx-large;"> <a href="/franchising.html" style="background: none !important;">Franchising</a></p>
        </div>
    </div>
</div>