<div class="col-md-3 col-sm-6 col-xs-12 col-xxs-12 product-item">
    <div class="crea-zoom">
        <div class="product-item-div small-banner-3 flex-el center-v center-h" style="background: url('templates/website/tema-1/assets/images/rest02.jpg') center center no-repeat; background-size: cover;">
            <!-- <div class="innerDiv">
                <p class="title"> Contact Us </p>
            </div> -->
            <a href="/contact-us.html"></a>
        </div>
        <div class="innerDiv" style="display:flex; justify-content: center; margin-top:10px;">
            <p class="title" style="font-weight:bolder; font-size: xx-large;"> <a href="/contact-us.html" style="background: none !important;">Contact Us</a></p>
        </div>
    </div>
</div>