<div class="footer-section" style="bottom:0px;">
    <div class="footer-middle">
        <div class="container">
            <div class="col-md-4 col-sm-4 col-xs-12 footer-item">
                <h4>Closed Burger</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas incidunt ut dolore accusantium deleniti, odio molestias voluptatum, facilis nesciunt commodi natus repellat expedita fugiat magnam numquam excepturi tempora, nam debitis.
                </p>
                <div class="lang-select">
                    <div class="short_lng">TR</div>
                    <div class="long_lng">
                        <select class="form-control">
                            <option value="96" selected="" data-langcode="TR">Türkçe</option>
                            <option value="23" data-langcode="GB">English</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12 footer-item">
                <div class="col-md-6 col-sm-6 col-xs-12 footer-list">
                    <h4>About Us</h4>
                    <ul class="links">
                        <li><a href="about-us.html">About Us</a></li>

                        <li><a href="franchising.html">Franchising</a></li>
                        <li><a href="contact-us.html">Contact Us</a></li>
                        <li><a href="insan-kaynaklari.html">Careers</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 footer-list">
                    <h4>Products</h4>
                    <ul class="links">
                        <li><a href="category/menu.html">Menu</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 footer-item">
                <h4>Contact Us</h4>
                <p>
                    <i class="fa fa-map-marker"></i>
                    Closed Burger, where awesome burgers made<br>New Jersey / USA
                </p>
                <p> <i class="fa fa-envelope"></i> <a href="cdn-cgi/l/email-protection.html#fe9a9b8d8a9b95be959b9c9f909b8ad09d9193"></a> <a href="cdn-cgi/l/email-protection.html" class="__cf_email__"></a>amerikadan24@gmail.com </p>
                <ul class="social-media">
                    <li><a href="https://www.facebook.com/tahsin.ozdemir15/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/closed_burger/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.youtube.com/Tahsin.Ozdemir" target="_blank"><i class="fa fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
        </div>
    </div>
</div>